<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-game-control (even)="onEvenNumber($event)" (odd)="onOddNumber($event)"></app-game-control>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>Odd numbers: </h4>
    </div>
    <div *ngFor="let odd of oddNumbers" class="col-12">
      <app-odd  >
        {{odd}}
      </app-odd>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <h4>Even numbers: </h4>
    </div>
    <div *ngFor="let even of evenNumbers" class="col-12">
      <app-even >
        {{even}}
      </app-even>
    </div>

  </div>
</div>



